---
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import Base from '../layouts/Base.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Base>
  <section class="prose prose-invert">
    <div class="flex flex-col gap-10 my-10">
      {
      posts.map((post) => (
        <a
          href={`/posts/${post.slug}/`}
          class="flex flex-col justify-between no-underline"
        >
          <h1
            class="text-3xl transition-colors mb-2"
            transition:name={`title-${post.data.title}`}
          >
            {post.data.title}
          </h1>
          <div class="text-sm text-gray-400 flex-shrink-0">
            <FormattedDate date={post.data.pubDate} name={`date-${post.data.title}`} />
          </div>
        </a>
      ))
      }
    </div>
  </section>
</Base>
